<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.mobile.smarthomeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHomeApp"
        tools:targetApi="31">
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <!-- Main activity with the intent filter for LAUNCHER -->
        <activity
            android:name=".activity_registre"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Garden" />
        <activity android:name=".Garage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity_Login" />
    </application>

</manifest>